.list {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.employee > * {
  border-bottom: 0.5px solid rgb(117, 116, 116);
  overflow: hidden;
  flex-basis: 100%;
  /* padding: 1em; */
  text-align: center;
  margin: 1em;
  transition: all 0.3s ease-in-out !important;

  overflow: hidden;
}

.employee li ul {
  display: flex;
  flex-direction: column;
}

.employee li ul li {
  /* border: 1px solid #000; */
  padding: 0.5em 1em;
}

.head {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  align-items: center;
  height: 3em;
}

.head > * {
  /* flex-basis: 100%; */
  margin: 0 auto;
  /* background-color: brown; */
}
