.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  overflow: auto;
  max-height: 100vh;
}

.form > * {
  /* width: 100%;
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	margin: 1em;
	grid-gap: 1em; */
}

.form input {
  /* margin: 1em; */
  /* outline: 1px solid #fff; */
  /* border: 1px solid #fff;
	border-radius: 5px;
	color: #fff; */
}

.form input label {
  color: #fff;
}

.formbtn {
  margin: auto;
  text-align: center;
}

.error input {
  border: 1px solid red !important;
  border-radius: 5px;
}

.error p {
  color: red;
}
