.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  overflow: auto;
  max-height: 100vh;
}

.form > * {
  /* width: 100%;
	margin: 1em;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	margin: 1em;
	grid-gap: 1em; */
}

.form .dateInput {
  /* margin: 1em; */
  /* outline: 1px solid #fff; */
  /* border: 1px solid #fff;
	border-radius: 5px;
	color: #fff; */
  border: none !important;
  border-bottom: 1px solid rgb(41, 40, 40) !important;
  color: rgb(73, 69, 69) !important;
}

.form label input {
  margin-top: 1em;
  font-size: 0.8em;
  /* color: #fff; */
  color: rgba(0, 0, 0, 0.54);
}

.form label p {
  color: rgba(0, 0, 0, 0.54);
}

.formbtn {
  margin: auto;
  text-align: center;
}

.error input {
  border-bottom: 1px solid red !important;
  /* border-radius: 5px; */
}

.error p {
  color: red;
}
