.view {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  grid-gap: 1em;
  padding: 1em; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 100vh;
  font-size: 0.8em;
  padding: 1em;
  /* grid-auto-columns: min-content; */
}

.view .box {
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  width: 20%;
  /* border: 1px solid #000; */
  background-color: rgb(189, 189, 214);
  flex-grow: 1;
  /* min-height: 120px; */
  /* box-sizing: border-box; */
  /* justify-content: space-between; */
  text-align: center;
}

.view .box p {
  display: block;
}

.view .box span {
  position: absolute;
  top: -50%;
  left: 3%;
  padding: 0 0.1em;
  /* background: #fff; */
  font-size: 0.8em;
}

.btn {
  /* position: absolute !important; */
  margin: 1em !important;
}
