.completed {
  /* margin: 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  width: 100%;
}

.head {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  /* width: 100%; */
}

.head li {
  padding: 0.5em;
  margin: 0.5em;
  /* margin-bottom: 0.5em; */
  background: rgb(255, 255, 255);
  width: auto;
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid #000; */
  border-radius: 5px;
  align-items: center;
}

.head li > * {
  min-width: 5em;
}

.head li input {
  border: none;
  border-bottom: 1px solid rgb(109, 106, 106);
}

.dateRange {
  /* width: 100% !important; */
  margin: 0.5em;
}

.dateRange > * {
  margin: 0 1em !important;
  padding: 1em;
}

.listCard {
  width: 70%;
  margin-top: 2em;
}
